{% extends "ZymSecurityBundle::layout.html.twig" %}

{% block title %}{{ 'Delete Role' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <h3>{{ 'Confirm Deletion' |trans({}, 'ZymSecurityBundle') }}</h3>
    
    <p>
        You are about to delete <strong>"{{ role.identifier |e }}"</strong>.
        This action cannot be undone.<br />
        <strong>Are you sure you want to proceed?</strong>
    </p>

    <form action="{{ path('zym_security_acl_roles_delete', { 'id' : role.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        
        <fieldset class="form-actions">
            <input class="btn danger" type="submit" value="{{ 'Delete' | trans }}" />
            <a class="btn" href="{{ path('zym_security_acl_roles') }}" class="button">{{ 'Cancel' |trans({}, 'ZymSecurityBundle') }}</a>
        </fieldset>
    </form>
{% endblock content %}