<div class="modal-header">
	<a href="#" class="close js-dismiss">×</a>
	<h3>{{ 'Confirm Deletion' |trans({}, 'ZymThemeBundle') }}</h3>
</div>

<div class="modal-body">
	<p>
		You are about to delete <strong>"{{ themeRule.path |e }}"</strong>.
		This action cannot be undone.<br />
		<strong>Are you sure you want to proceed?</strong>
	</p>
</div>

<div class="modal-footer">
	<form action="{{ path('zym_theme_theme_rules_delete', { 'id' : themeRule.id }) }}" method="post" {{ form_enctype(form) }}>
		{{ form_rest(form) }}        
		<input class="btn btn-danger" type="submit" value="{{ 'Confirm Deletion' | trans({}, 'ZymThemeBundle') }}" />
		<a class="btn" href="{{ path('zym_theme_theme_rules') }}" class="button">{{ 'Cancel' |trans({}, 'ZymThemeBundle') }}</a>
	</form>
</div>