{% extends "ZymSecurityBundle::layout.html.twig" %}

{% block title %}{{ 'New Access Rule' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'New Access Rule' |trans({}, 'ZymSecurityBundle') }}</h1>
    </div>

    <form class="horizontal-form" action="" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}

        <fieldset class="form-actions">
            <input class="btn primary"  type="submit" value="{{ 'Create' | trans({}, 'ZymSecurityBundle') }}" />
            <a class="btn" href="{{ path('zym_security_access_rules') }}">{{ 'Cancel' | trans({}, 'ZymSecurityBundle') }}</a>
        </fieldset>
    </form>
{% endblock content %}