{% extends "ZymSecurityBundle::layout.html.twig" %}

{% block title %}{{ 'Edit Access Rule' | trans({}, 'ZymSecurityBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Edit Access Rule' | trans({}, 'ZymSecurityBundle') }}
            <small>{{ accessRule.path |e }}</small>
        </h1>
    </div>
    
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
    
        <fieldset class="form-actions">
            <input type="submit" value="{{ 'Save changes' | trans({}, 'ZymSecurityBundle') }}" class="btn primary" />
            <a class="btn" href="{{ path('zym_security_access_rules') }}">Cancel</a>
        </fieldset>
    </form>
{% endblock content %}