{% extends "ZymMenuBundle::layout.html.twig" %}

{% block title %}{{ 'Add a Menu' | trans({}, 'ZymMenuBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'New Menu' | trans({}, 'ZymMenuBundle') }}
            <small>{{ 'Create a new menu' | trans({}, 'ZymMenuBundle') }}</small>
        </h1>
    </div>
    
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymMenuBundle') }}
            </a>
        </div>
    </div>

    <p>
        {% trans from 'ZymMenuBundle' %}Menus are a collection of links (menu items) used to navigate a website.{% endtrans %}
    </p>

    <form class="form-horizontal" action="{{ path('zym_menus_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
    
        <fieldset class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'Create' | trans({}, 'ZymMenuBundle') }}</button>
            <button class="btn" type="button" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymMenuBundle') }}</button>
        </fieldset>
    </form>
{% endblock %}