{% extends "ZymMenuBundle::layout.html.twig" %}

{% block title %}{{ 'Edit a Menu Item' | trans({}, 'RAPPBackendBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Edit Menu Item' | trans({}, 'ZymNodeBundle') |e }}
            <small>{{ menuItem.label | trans({}, 'ZymNodeBundle') |e }}</small>
        </h1>
    </div>
    
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
        {{ form_row(form.parent, { 'empty_value': '---' }) }}
    
        <fieldset class="form-actions">
            <input type="submit" value="{{ 'Save changes' | trans({}, 'ZymMenuBundle') }}" class="btn primary" />
            <a class="btn danger" href="{{ path('zym_menus_item_delete', { 'menu': menu.name, 'id': menuItem.id })}}">{{ 'Delete' | trans({}, 'ZymMenuBundle') }}</a>
        </fieldset>
    </form>
{% endblock content %}