{% extends "ZymMenuBundle::layout.html.twig" %}

{% block title %}{{ 'Menus' | trans({}, 'ZymMenuBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 class="pull-left">
            {{ 'Menus' | trans({}, 'ZymMenuBundle') }}
            <small>{{ 'Manage navigation' | trans({}, 'ZymMenuBundle') }}</small>
        </h1>

        <div class="btn-toolbar">
            <div class="btn-group pull-right">
                {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\MenuBundle\\Entity\\Menu']) %}
                <a class="btn" href="{{ path('zym_menus_add') }}">{{ 'New Menu' | trans({}, 'ZymMenuBundle') }}</a>
                {% endif %}
            </div>
        </div>
        <div class="clearfix" style="clear:both"></div>
    </div>



    <table class="striped-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>{{ 'Actions' | trans({}, 'ZymMenuBundle') }}</th>
            </tr>
        </thead>

        <tbody>
        {% for menu in menus %}
            {% if is_granted('VIEW', menu) %}
            <tr>
                <td>
                    <a href="{{ path('zym_menus_show', { 'id': menu.name }) }}">{{ menu.label |e }}</a>
                    <div class="description">{{ menu.description | raw }}</div>
                </td>
                <td>
                    <div class="btn-group" style="width: 200px">
                        <a class="btn" href="{{ path('zym_menus_show', { 'id': menu.name }) }}">{{ 'View' | trans({}, 'ZymMenuBundle') }}</a>

                        {% if is_granted('EDIT', menu) %}
                        <a class="btn" href="{{ path('zym_menus_edit', { 'id': menu.name }) }}">{{ 'Edit' | trans({}, 'ZymMenuBundle') }}</a>
                        {% endif %}

                        {% if is_granted('DELETE', menu) %}
                        <a class="btn" href="{{ path('zym_menus_delete', { 'id': menu.name }) }}" data-toggle="ajax-modal">{{ 'Delete' | trans({}, 'ZymMenuBundle') }}</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if menus | length <= 0 %}
        <p>
            {{ 'No menus added yet.' | trans({}, 'ZymMenuBundle') }}

            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\MenuBundle\\Entity\\Menu']) %}
            <a class="" href="{{ path('zym_menus_add') }}">{{ 'Create a menu.' | trans({}, 'ZymMenuBundle') }}</a>
            {% endif %}
        </p>
    {% endif %}

    {{ menus.render() |raw }}
{% endblock %}