{% extends "ZymMenuBundle::layout.html.twig" %}

{% block title %}{{ 'Showing Menu' | trans({}, 'ZymMenuBundle') }}{% endblock %}


{% macro loopMenuItem(menuItem) %}
    {% if menuItem.children %}
        <ul>
            {% for c in menuItem.children %}
            <li>
                <a href="{{ path('zym_menus_item_edit', { 'menu': menuItem.menu.name, 'id': c.id })}}">
                    {{ c.label | e }}
                </a>
                {{ _self.loopMenuItem(c)}}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ menu.label | trans({}, 'ZymMenuBundle') |e }}
            <small>{{ menu.name | trans({}, 'ZymMenuBundle') |e }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymMenuBundle') }}
            </a>
        </div>

        <div class="btn-group">
            {% if is_granted('EDIT', menu) %}
            <a class="btn" href="{{ path('zym_menus_edit', { 'id': menu.name }) }}">
                <i class="icon-edit"></i>
                {{ 'Edit' | trans({}, 'ZymMenuBundle') }}
            </a>
            {% endif %}

            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">

                {% if is_granted('DELETE', menu) %}
                <li class="divider"></li>

                <li>
                    <a href="{{ path('zym_menus_delete', { 'id': menu.name }) }}" data-toggle="ajax-modal">
                        <i class="icon-remove"></i>
                        {{ 'Delete' | trans({}, 'ZymMenuBundle') }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn" href="{{ path('zym_security_acl_object_aces', { 'type': 'Zym\\Bundle\\MenuBundle\\Entity\\Menu', 'identifier': menu.name }) }}">
                <i class="icon-lock"></i>
                {{ 'Permissions' | trans({}, 'ZymMenuBundle') }}
            </a>
        </div>
    </div>


    <div class="description">
        {{ menu.description | raw }}
    </div>

    <h3>Menu Items</h3>

    <div class="btn-group">
        {% if is_granted('EDIT', menu) and is_granted('CREATE', ['class', 'Zym\\Bundle\\MenuBundle\\Entity\\MenuItem']) %}
        <a href="{{ path('zym_menus_item_add', { 'id': menu.name }) }}" class="btn">{{ 'Add Menu Item' | trans({}, 'ZymMenuBundle') }}</a>
        {% endif %}
    </div>

    <ul>
        {% for menuItem in  menu.children %}
        <li>
            <a href="{{ path('zym_menus_item_edit', { 'menu': menu.name, 'id': menuItem.id })}}">
                {{ menuItem.label }}
            </a>
            {{ _self.loopMenuItem(menuItem) }}
        </li>
        {% endfor %}
    </ul>
{% endblock content %}