{% extends "ZymNodeBundle::layout.html.twig" %}

{% block title %}{{ 'Content' | trans({}, 'ZymNodeBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Content' | trans({}, 'ZymNodeBundle') }}

            <small>{{ 'Manage content' | trans({}, 'ZymNodeBundle') }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\NodeBundle\\Entity\\Node']) %}
            <a  class="btn" href="{{ path('zym_nodes_add') }}" data-toggle="ajax-modal"><i class="icon-plus"></i>{{ 'New Content' | trans({}, 'ZymNodeBundle') }}</a>
            {% endif %}
        </div>

        {% if is_granted('VIEW', ['class', 'Zym\\Bundle\\NodeBundle\\Entity\\NodeType']) %}
        <div class="btn-group">
            <a class="btn" href="{{ path('zym_node_node_types') }}">
                <i class="icon-cog"></i>
                {{ 'Content Types' | trans({}, 'ZymNodeBundle') }}
            </a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\NodeBundle\\Entity\\NodeType']) %}
                <li>
                    <a href="{{ path('zym_node_node_types_add') }}">
                        <i class="icon-plus"></i>
                        {{ 'Add Content Type' | trans({}, 'ZymNodeBundle') }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'Title' |trans({}, 'ZymNodeBundle') }}</th>
                <th>{{ 'Type' |trans({}, 'ZymNodeBundle') }}</th>
                <th>{{ 'Actions' |trans({}, 'ZymNodeBundle') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for node in nodes %}
            <tr>
                <td><a href="{{ path('zym_nodes_edit', { 'id': node.id }) }}">{{ node.id |e }}</td>
                <td>{{ node.title |e }}</td>
                <td>{{ node.nodeType.name |e }}</td>
                <td>
                    <div class="btn-group">
                        {% if is_granted('VIEW', node) %}
                        <a class="btn" href="{{ path('zym_nodes_node', { 'id': node.id })}}">
                            <i class="icon-share"></i>
                            {{ 'View' | trans({}, 'ZymNodeBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('EDIT', node) %}
                        <a class="btn" href="{{ path('zym_nodes_edit', { 'id': node.id })}}">
                            <i class="icon-edit"></i>
                            {{ 'Edit' | trans({}, 'ZymNodeBundle') }}
                        </a>
                        {% endif %}

                        {% if is_granted('DELETE', node) %}
                        <a class="btn" href="{{ path('zym_node_nodes_delete', { 'id': node.id })}}"  data-toggle="ajax-modal">
                            <i class="icon-remove"></i>
                            {{ 'Delete' | trans({}, 'ZymNodeBundle') }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if nodes | length <= 0 %}
        <p>
            {{ 'No content added yet.' | trans({}, 'ZymNodeBundle') }}

            {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\NodeBundle\\Entity\\Node']) %}
            <a class="" href="{{ path('zym_nodes_add') }}">{{ 'Create new content.' | trans({}, 'ZymNodeBundle') }}</a>
            {% endif %}
        </p>
    {% endif %}

    {{ knp_pagination_render(nodes) }}
{% endblock content %}