{% extends "ZymMediaBundle::layout.html.twig" %}

{% block title %}{{ 'Add Media' | trans({}, 'ZymMediaBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Add Media' | trans({}, 'ZymMediaBundle') }}
            <small>{{ 'Add new media' | trans({}, 'ZymMediaBundle') }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back();">
                <i class="icon-arrow-left"></i>
                {{ 'Back' | trans({}, 'ZymMediaBundle') }}
            </a>
        </div>
    </div>

    <form class="form-horizontal" action="{{ path('zym_media_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}

        <fieldset class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'Add' | trans({}, 'ZymMediaBundle') }}</button>
            <button class="btn" type="button" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymMediaBundle') }}</button>
        </fieldset>
    </form>
{% endblock %}