{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Create a user account' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'New User' | trans({}, 'ZymUserBundle') }}
            <small>{{ 'Create a new user' | trans({}, 'ZymUserBundle') }}</small>
        </h1>
    </div>

    <form action="" method="post" {{ form_enctype(form) }}>
        <fieldset>
            <legend>{{ 'User Information' | trans({}, 'ZymUserBundle') }}</legend>
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
        </fieldset>

        <fieldset>
            <legend>{{ 'Groups and Permissions' | trans({}, 'ZymUserBundle') }}</legend>
            {{ form_row(form.groups) }}
        </fieldset>

        {{ form_rest(form) }}
    
        <fieldset class="form-actions">
            <input class="btn primary" type="submit" value="{{ 'Create' | trans({}, 'ZymUserBundle') }}" />
            <a class="btn" href="{{ path('zym_user_users') }}">{{ 'Cancel' | trans({}, 'ZymUserBundle') }}</a>
        </fieldset>
    </form>
{% endblock content %}