{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Editing User' | trans({}, 'ZymUserBundle') }} {{ user.fullName is defined ? user.fullName : user.username |e }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Editing User' | trans({}, 'ZymUserBundle') }} {{ user.fullName is defined ? user.fullName : user.username |e }}
            <small>{{ user.username |e }}</small>
        </h1>
    </div>

    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" href="javascript: history.back()">
                <i class="icon-arrow-left"></i> {{ 'Back' | trans({}, 'ZymUserBundle') }}
            </a>
        </div>
        
        <div class="btn-group">

        
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-edit"></i> {{ 'Edit' | trans({}, 'ZymUserBundle') }} <span class="caret"></span>
            </a>
        
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('zym_user_groups_add') }}"><i class="icon-off"></i> {{ 'Disable User' | trans({}, 'ZymUserBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('zym_user_groups_add') }}"><i class="icon-lock"></i> {{ 'Activate User' | trans({}, 'ZymUserBundle') }}</a>
                </li>
        
        
                {% if is_granted('DELETE', user) %}
                <li class="divider"></li>
        
                <li>
                    <a href="{{ path('zym_user_users_delete', { "id": user.id }) }}" data-toggle="ajax-modal">
                        <i class="icon-remove"></i> {{ 'Delete' | trans({}, 'ZymUserBundle') }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="btn-group">
            {% if is_granted('VIEW', user) %}
            <a class="btn" href="{{ path('zym_user_users_show', { "id": user.id }) }}">
                <i class="icon-share"></i> {{ 'View' | trans({}, 'ZymUserBundle') }}
            </a>
            {% endif %}
        </div>

        <div class="btn-group">
            {% if is_granted('DELETE', user) %}
            <a class="btn" href="{{ path('zym_user_users_delete', { "id": user.id }) }}" data-toggle="ajax-modal">
                <i class="icon-remove"></i> {{ 'Delete' | trans({}, 'ZymUserBundle') }}
            </a>
            {% endif %}
        </div>
    </div>

    <form class="form-horizontal" action="" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        
        <fieldset>
            <legend>User Information</legend>
            
            {% if form.firstName is defined %}
            {{ form_row(form.firstName) }}
            {{ form_row(form.middleName) }}
            {{ form_row(form.lastName) }}
            {% endif %}
            
            {% if form.offsetExists('name') %}
            {{ form_row(form.offsetGet('name')) }}
            {% endif %}

            {% if form.offsetExists('username') %}            
            {{ form_row(form.username) }}
            {% endif %}
            
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
        </fieldset>

        <fieldset>
            <legend>Groups and Permissions</legend>
            {{ form_row(form.groups) }}
        </fieldset>

        {{ form_rest(form) }}

        <fieldset class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'Save changes' | trans({}, 'ZymUserBundle') }}</button>
            <button class="btn" type="button" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymUserBundle') }}</button>
         </fieldset>
    </form>
{% endblock content %}