{% extends "ZymMenuBundle::layout.html.twig" %}

{% block title %}{{ menuItem.label | trans }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ menuItem.label | trans }}
            <small>{{ menuItem.description | trans }}</small>
        </h1>
    </div>

    {% if menuItem.children |length %}
        {% for child in menuItem.children %}
            {% if loop.index0 is divisibleby(2) %}
            <div class="row-fluid">
            {% endif %}

                <div class="span6">
                    {% if child.hasChildren %}
                    <h2>
                        <a href="{{ child.uri |e }}">{{ child.label |trans }}</a>
                        <small>{{ child.description |trans }}</small>
                    </h2>

                    <ul class="nav nav-tabs nav-stacked">
                        {% for c in child.children %}
                        <li>
                            <a href="{{ c.uri |e }}">
                                {{ c.label |trans }}
                                <small class="muted" style="display:block;">{{ c.description |trans }}</small>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="{{ child.uri |e}}">
                                {{ child.label |trans }}
                                <small class="muted" style="display:block;">{{ child.description |trans }}</small>
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>

            {% if loop.index is divisibleby(2) or loop.last %}
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>{{ 'Nothing Here...' |trans({}, 'ZymMenuBundle') }}</p>
    {% endif %}
{% endblock %}