{% extends "ZymMenuBundle::layout.html.twig" %}

{% block title %}{{ 'Menus' | trans({}, 'ZymMenuBundle') }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ menuItem.label | trans }}
            <small></small>
        </h1>
    </div>

    <div class="row">
        {% for child in menuItem.children %}
        <div class="span6">
            {% if child.hasChildren %}
            <h2><a href="{{ child.uri }}">{{ child.label }}</a></h2>
            {% else %}
            <a href="{{ child.uri }}">{{ child.label }}</a>
            {% endif %}
            <ul>
                {% for c in child.children %}
                <li>
                    <a href="{{ c.uri }}">{{ c.label }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}