{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Editing Group' | trans({}, 'ZymUserBundle') }} {{ group.name|e }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ 'Editing Group' | trans({}, 'ZymUserBundle') }}
            <small>{{ group.name |e }}</small>
        </h1>
    </div>

    <div class="btn-group">
        <a class="btn" href="javascript: history.back()">
            <i class="icon-arrow-left"></i> {{ 'Back' | trans({}, 'ZymUserBundle') }}
        </a>

        {% if is_granted('VIEW', group) %}
        <a class="btn" href="{{ path('zym_user_groups_show', { "id": group.id }) }}">
            <i class="icon-share"></i> 
            {{ 'View' | trans({}, 'ZymUserBundle') }}
        </a>
        {% endif %}

        {% if is_granted('DELETE', group) %}
        <a class="btn" href="{{ path('zym_user_groups_delete', { "id": group.id }) }}">
            <i class="icon-remove"></i>
            {{ 'Delete' | trans({}, 'ZymUserBundle') }}
        </a>
        {% endif %}
    </div>

    <form class="form-horizontal" action="" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}

        <fieldset class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'Save changes' | trans({}, 'ZymUserBundle') }}</button>
            <button class="btn" type="button" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymUserBundle') }}</button>
         </fieldset>
    </form>
{% endblock content %}